@import 'normalize';
@import '_fonts';
@import 'general';
@import 'root';
@import './blocks/header';
@import './blocks/heropage';
@import './blocks/aboutme';
@import './blocks/mainblock';
@import './blocks/footer';  