@use "../root";

.portfolio__list--item {
  display: flex;
  align-items: center;
  gap: 125px;
  margin-bottom: 80px;
}
.img_box {
  position: relative;
  flex: 1;

  .line {
    position: absolute;

    right: -474px;
    width: 350px;
    height: 2px;
    background: #33323d;
    mix-blend-mode: normal;
    opacity: 0.15;
  }
}
.portfolio__list--item:nth-child(even) {
  .line {
    left: -570px;
  }
}
.manage_content {
  width: 100%;
  height: 100%;
  flex: 1;

  .manage_title {
    font-family: "IbarraRealNova";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    margin-bottom: 28px;
    color: #33323d;
  }
  .manage_desc {
    width: 350px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #33323d;
    mix-blend-mode: normal;
    margin-bottom: 24px;
    opacity: 0.8;
  }
  .manage_link {
    display: block;
    width: 175px;
    height: 48px;
    border: 1px solid #33323d;
    padding: 17px 30px 17px 32px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: root.$grayish;
  }
  .manage_link:hover{
    background-color: root.$grayish;
    color: #fff;
  }
}
.portfolio_contact {
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 150px;
  justify-content: space-between;

  .portfolio_contact-title {
    width: 350px;
    font-family: "IbarraRealNova";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323d;
  }
  .p_line {
    width: 534px;
    height: 1px;
    background: #33323d;
    mix-blend-mode: normal;
    opacity: 0.15;
  }
  .p_contact_link {
    display: block;
    width: 162px;
    height: 48px;
    border: 1px solid  root.$grayish;
    mix-blend-mode: normal;
    padding: 17px 30px 17px 32px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #33323d;
  }
  .p_contact_link:hover{
    color: #fff;
    background-color: root.$grayish;
  }
}
