@use '../root';

header{
    position: fixed;
    top: 0;
    z-index: 999999;
    background-color: white;
    width: 100%;
}

.header-content{
    padding-top: 64px;
    padding-bottom: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .hamburger__menu{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 24px;
        height: 13px;
        transition: .3s linear;
        cursor: pointer;

        & span{
            display: block;
            width: 100%;
            min-height: 2px;
            background-color: root.$grayish;
            transition: .3s linear;
        }
    }
}

.navbar{
    &__list{
        display: flex;
        align-items: center;
        column-gap: 42px;
    }
    &__link{
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: root.$grayish;
        transition: .2s linear;
        &:hover{
            color: root.$cyan-green;
        }
    }
}

@media only screen and (max-width: 991.98px) {
    .container{
        max-width: 960px;
    }
}

@media only screen and (max-width: 767.98px){
    .container{
        width: auto;
    }

}