@use '../root';

header{
    position: fixed;
    top: 0;
    z-index: 999999;
    background-color: white;
}

.header-content{
    padding-top: 64px;
    padding-bottom: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    &__list{
        display: flex;
        align-items: center;
        column-gap: 42px;
    }
    &__link{
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: root.$grayish;
        transition: .2s linear;
        &:hover{
            color: root.$cyan-green;
        }
    }
    
}