@use '../root';

header{
    position: fixed;
    top: 0;
    z-index: 999999;
    background-color: white;
    width: 100%;
}

.header-content{
    padding-top: 64px;
    padding-bottom: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .h-menu{
        display: none;
        position: relative;
        .hamburger__menu{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 24px;
            height: 13px;
            transition: .3s linear;
            cursor: pointer;
            align-self: flex-end;
    
            & span{
                display: block;
                width: 100%;
                min-height: 2px;
                background-color: root.$grayish;
                transition: .3s linear;
            }
        }
        &__list{
           display: none;
        }
        &__item{
            text-align: center;
        }
        &__link{
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 2px;
            text-transform: uppercase; 
            color: #FFFFFF;
        }
    }
   
}

.navbar{
    &__list{
        display: flex;
        align-items: center;
        column-gap: 42px;
    }
    &__link{
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: root.$grayish;
        transition: .2s linear;
        &:hover{
            color: root.$cyan-green;
        }
    }
}

@media only screen and (max-width: 991.98px) {
    .container{
        max-width: 960px;
    }
}

@media only screen and (max-width: 767.98px){
    .container{
        width: auto;
    }
    .navbar{
        display: none;
    }
    .header-content .h-menu{
        display: flex;
        flex-direction: column;
    }
    .h-menu__list{
        position: absolute;
        top: 30px;
        right: 0;
        flex-direction: column;
        row-gap: 32px;
        padding: 40px 64px !important;
        background-color: root.$grayish;
        transition: .3s linear;
        white-space: nowrap;
    }
}