@use '../root';


.hero-page{
    margin-bottom: 150px;
    &__content{
        height: 600px;
        position: relative;
        display: flex;
        align-items: flex-end;
        & picture{
            display: block;
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }
    &-bg{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__info{
        position: relative;
        padding-top: 55px;
        padding-right: 55px;
        background-color: white;
    }
    &__main-title{
        font-family: 'IbarraRealNova';
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.446429px;
        color: root.$grayish;
        max-width: 390px;
        margin-bottom: 53px;
    }
    &__btn{
        display: flex;
        align-items: center;
    }
    &__icon-box{
        padding: 18px 16px;
        background-color: #1D3444;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
    }
    &__btn-text{
        padding: 18px 37px;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        background-color: #203A4C;
    }

}